.section{
  padding-top: 40px;
  padding-bottom: 30px;
}
.main-heading{
  color:blue;
  font-size: 28px;
  text-align: center;
}
.underline{
  height: 04px;
  width: 10rem;
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.para{
  text-align: center;
}